<% if (posts.length === 0) { %>
    <p>No posts yet.</p>
<% } else { %>
    <%- include('comment-form') %>
    <% for(post of posts) { %> 
        <div class="card white_shadow">
            <a class="top" href="/profile/<%- post.user.id_user-%>">
                <img src="<%- post.user.picture_path -%>" alt="">
                <label><%- post.user.firstname -%> <%- post.user.lastname -%></label>
            </a>
            <hr>
            <div class="middle">
                <div class="image">
                    <img class="white_shadow" src="<%= post.data_path %>" alt="image"/>
                </div>
                <div class="description">
                    <label id="description" name="" id="" cols="30" rows="10"><%= post.description %></label>
                </div>
            </div>
            <hr>
            <div class="bottom">
                <% if( post.liked ){ %>
                    <a href="/feed/dislike/<%= post.id_post %>" class="like-button"> 
                        <button if="" class="icon" id="like">
                            <i class="fa-solid fa-heart" >
                                <label for=""><%- post.nbLike -%></label>
                            </i>
                        </button>
                    </a>
                <% } else{ %>  
                    <a href="/feed/like/<%= post.id_post %>" class="like-button">
                        <button class="icon" id="like">
                            <i class="fa-regular fa-heart" >
                                <label for=""><%- post.nbLike -%></label>
                            </i>
                        </button>
                    </a>
                 <% } %>
                <button class="icon add-comment" id="comment" data-id_post="<%- post.id_post %> ">
                    <i class="fa-regular fa-comment">
                        <label for="">15</label>
                    </i>
                </button>
                <a href="/save/<%- post.id_post %>" class="save-button">
                    <button class="icon" id="save">
                        <% if(post.isSaved === true) { %>
                            <i class="fa-solid fa-bookmark"></i>
                        <% } else { %>
                            <i class="fa-regular fa-bookmark"></i>
                        <% } %>
                    </button>
                </a>
            </div>
        </div>
    <% } %>
<% } %>
<script src="/js/save.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
