<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- title -%></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# 
        STYLESHEETS 
    #%>
    <%- include('partials/stylesheets') -%>
    <% for (const stylePath of stylePaths) { %>
        <link rel="stylesheet" href="/css/<%- stylePath %>">
    <% } %>
    <%# 
        SCRIPTS 
    #%>
    <%- include('partials/javascripts') -%>
    <% for (const scriptPath of scriptPaths) { %>
        <script src="/js/<%- scriptPath %>"></script>
    <% } %>
</head>
<body>
    <%- include('partials/header') -%>
    <div class="container">
        <%- include( template ) -%>
    </div>
    <%- include('partials/footer') -%>
</body>
</html>