<div class="card white_shadow profile">
    <div>
        <a class="icon" id="qr_code" href="/qrcode">
            <i class="fa-solid fa-qrcode"></i>
        </a>
    </div>
    <% if(user.id_user === targetUser.id_user) { %>
    <img id="profile_picture" src="<%- user.picture_path %>">
    <div id="name">
        <label><%- user.firstname %> <%- user.lastname %></label>
    </div>
    <hr>
    <form class="user_infos" method="POST">
        <label>Email</label>
            <input type="text" value="<%- user.email %>" name="email" required>
        <label>Date of Birth</label>
            <input type="date" value="<%- user.date_of_birth %>" name="date_of_birth" required>
        <label>Country</label>
            <select name="country" required>
                <option value="<%- user.country %>"><%- user.country %></option>
                <% for(country of ['France', 'USA', 'England', 'Germany', 'China', 'Japan','Other']) {%>
                <option value="<%- country %>"><%- country %></option>
                <% } %>
            </select>
        <div class="form_bottom">
            <a href="/logout">
                <button id="logout" type="button">Logout</button>
            </a>
            <button class="submit" type="submit">Save</button>
        </div>
    </form>
    <% } else { %>
    <img id="profile_picture" src="<%- targetUser.picture_path %>">
    <div id="name">
        <label><%- targetUser.firstname %> <%- targetUser.lastname %></label>
    </div>
    <hr>
    <div class="user_infos">
        <label>Email</label>
            <input type="text" value="<%- targetUser.email %>" name="email" disabled>
        <label>Date of Birth</label>
            <input type="date" value="<%- targetUser.date_of_birth %>" name="date_of_birth" disabled>
        <label>Country</label>
            <input type="text" value="<%- targetUser.country %>" disabled>
    </div>
    <% } %>
</div>
<% if(user.id_user === targetUser.id_user) { %>
<div class="feed">
    <%- include("partials/post_list") %>
</div>
<% } %>
